---
import Layout from "../layouts/Layout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
const pageTitle = "Top Page";
const text = "トップページです。";
---

<Layout title={pageTitle} description={text}>
  <main>
    <h1>{pageTitle}</h1>
    <ButtonPrimary href="/" accent="true">トップページのボタン</ButtonPrimary>
  </main>
</Layout>

<style>
  h1 {
    color: red;
  }
</style>
