---
// export interface Props {
//   text: string;
//   href: string;
// }

const { text, href, accent = false, ...props } = Astro.props;
---

<a
  class:list={["buttonPrimary", { "-accenet": accent }]}
  {...props}
  href={href}
>
  <slot />
</a>

<style lang="scss">
  .buttonPrimary {
    display: block;
    width: 300px;
    text-align: center;
    padding: 1em 2em;
    background-color: #000;
    color: #fff;
    border-radius: 2.5rem;
  }

  .buttonPrimary.-accenet {
    background-color: red;
  }
</style>
